* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-flex {
    display: flex;
}

.clear {
    clear:both;
}

#header {
    width: 100%;
    height: auto;
    /* margin-bottom: 5em; */
}

#header .top {
    height: 3em;
    font-size: 1.35em;
    font-weight: 300;
    opacity: 0.75;
    width: 80%;
    margin: 0 auto;
}

#header .border {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}


#header .left {
    line-height: 3em;
    display: inline-block;
}

#header .left i {
    font-size: 0.75em;
    /* font-size: 1.35em; */
    margin: 0.25em 0.25em;
} 

#header .left a {
    margin: 0 0.35em;
    padding: 0 0.35em;
}

#header .top .left font {
    border-right: 2px solid #ccc;
    padding-right: 0.5em;
    /* margin-left: 1em; */
}

#header .left a:last-child {
    border-right: 1px solid #ccc;
    color: red;
    border-left: none;
}


#header .right  {
    float: right;
}   

#header .right a {
    line-height: 3em;
    text-decoration: none;
    color: #000;
    border-right: 2px solid #ccc;
    padding-right: 1em;
    margin-right: 1em;
 
}

#header .right a:hover {
    color: rgba(255,0,0,1);
    text-decoration: underline;
}

#header .right a:last-child {
    border: none;
}

#header .nav {
    height: 10em;
    width: 80%;
    margin: 0 auto ;
    /* background: #ccc; */
    padding: 3.5em 0;
    /* display: flex; */
}

.nav .left-nav {
    float:left;
}

#header .nav img {
    margin-right: 5em;
    /* padding-top: 1em;     */
}


.nav .left-nav a {
    margin: 0 1em 1em;
    font-size: 1.7em;
    text-decoration: none;  
    color: #000; 
    opacity: 0.8;
    /* padding-bottom: 10em; */
    /* margin-bottom: 1em; */
}

#header .nav a:hover {
    color: rgba(255,50,0,1);
    /* background: #ccc; */
}

#header .nav i {
    margin-left: 2em;
    font-size: 1.65em;
    /* font-weight: 900; */
    color: #ccc;
    border-left: 1px solid #ccc;
    padding: 0.35em 1em ;
    font-weight: bold;
}

#header .nav i:hover {
    color: rgba(255,50,0,1);
}

#header .nav .shop {
    float:right;
    border: 1px solid #ccc;
    border-radius: 2em;
    background: rgba(0,0,0,0.03);
    padding: 0.1em 0 0.3em 0.3em;
    position: relative;
}

#header .nav .shop .link {
    background: rgba(255,50,0,0.9);
    border-radius: 2em;
    font-size: 1.4em;
    color: #fff;
    margin: 0;
    padding: 5px;
}

#header .nav .shop a {
    margin: 0;
    padding: 15px 5px;
    color: rgba(0,0,0,0.65);
    font-size: 1.7em;
    text-decoration: none;
    
}

#header .nav .shop #count {
    position:absolute;
    font-size: 14px;
    bottom: 21.5px;
    right: 0;
    color: red;
}

#header .nav .shop a:nth-child(2){
    padding-left: 0;
    margin-left: 0;
}

.background {
    background: rgba(192,192,192,0.2);
    width: 100%;
    padding-top: 2em;
    /* margin-top: 5em; */
}

#content {
    width: 80%;
    margin: 0 auto;
    height: auto;   
    /* padding: 1px; */
}

.content-1 h2 {
    padding: 2em 0 1em;
    font-size: 1.8em;
    font-weight: 450;
}

#content .content-1 {
    width: 100%;
    margin-top: 10em;
    /* margin: 0 auto; */
}

.content-1 .box-5 {
    display:flex;
    margin-top: 10px;
}

.content-1 .box-5 .box {
    height: 37em;
    width: calc(25% - 5px);
    margin: 0 5px;
    border: 1px solid #ccc;
    padding: 1.25em;
    background: #fff;
    /* text-align: center; */
}

.content-1 .box-5 .box:first-child {
    margin-left: 0;

}

.content-1 .box-5 .box:last-child {
    margin-right: 0;
}

.content-1 .box-5 .box img {
    width: 100%;
    height: 80%;
}

/* .content-1 .box-5 .box img:hover {
    
} */

.content-1 .box-5 .box a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgba(0,0,0,0.55);
    display:block;
    margin-bottom: 0.3em;
}

.content-1 .box-5 .box p {
    display: inline-block;
    /* margin-top: 1em; */
    color: red;
    font-size: 1.7em;

}

.content-1 .box-5 .box .add {
    float: right;
    padding: 0.5em;
    border: 1px solid #ccc;
    font-size: 1.3em;
    color: #ccc;
    cursor: pointer;
}

.box-5 .box .add:hover {
    background: red;
    color: #fff;
}

.content-2 {
    width: 100%;
    /* margin-top: 10em; */
    /* background-color: aqua; */
    height: auto;
    /* display:flex; */
}

.content-2 .menu {
    float:left;
    width: calc(25% - 1em);
    height: auto;
    margin-right: 2em;
}

.content-2 .menu > a {
    display: block;
    background:#fff;
    padding: 1em 10em 1em 1em;
    text-decoration: none;
    border: 1px solid rgba(192,192,192,0.2);
    margin: 0.1em 0;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
}

.content-2 .menu > a:nth-child(2) {
    display: block;
    background:#fff;
    padding: 1em 10em 1em 1em;
    text-decoration: none;
    border: none;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
}

.content-2 .menu a:hover {
    color: red;
}

#content .line {
    width: 100%;
    background: #fff;
    margin-top: 5em;
    /* margin-bottom: 50em; */
    height: 10em;
    padding-bottom: 5em;
}

#content .line .brands {
    width: 90%;
    margin: 0 auto;
}

#content .line-space {
    height: 5em;
}

#footer {
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.8);
}

#footer .container {
    width: 80%;
    margin: 0 auto;
}

#footer .container .box {
    width: calc(25% - 2em);
    margin: 2em;
}

#footer .container .box:first-child, 
#footer .container .box:last-child {
    margin: 2em 0;
}

#footer .box {
    height: 30em;
    /* text-align:justify; */
}

#footer .box h2 {
    color: #AAAAAA;
    font-size: 18px;
}

#footer .box p {
    color: #AAAAAA; 
    font-size: 14px;
    margin-top: 1em;
}

#footer .box .link {
    margin: 1em 1em 0 0 ;
    /* color:aqua; */
} 

#footer .box .link i {
    color: #ccc;
    font-size: 0.7em;
    margin-right: 1em;
} 

#footer .box .link a {
    color: #3399FF;
    font-size: 14px;
    text-decoration: none;
}

#footer .box .link a:hover {
    color:red;
    text-decoration: underline;
}

#footer .foot {
    height: 10em;
    width: 100%;
    /* background: #fff; */
}

.foot .border {
    width: 80%;
    margin: 0 auto;
    /* background:#3399FF; */
    height: 50px;
    border-top: 1px solid rgba(192,192,192,0.2);
    /* padding-top: 100px; */
}

.foot .foot-content {
    width: 80%;
    margin: 0 auto;
    /* background:#3399FF; */
    /* height: 100px; */
    display:flex;
    /* justify-content: space-between; */
    /* float:left; */
}

.foot-content .center,
.foot-content .right,
.foot-content .left {
    height: 20px;
    width: 33.3333%;
}

.foot-content .left i {
    font-size: 2em;
    background-color: rgba(255,250,250,0.7);
    color: #000;
    padding: 5px;

}

.foot-content .center {
    font-size: 1.8em;
    color:rgba(255,250,250,0.7);
}

.foot-content .right a {
    font-size: 1.8em;
    /* background: orangered ; */
    color: rgba(255,250,250,0.7);
}


.foot-content .right .sub-btn {
    display: inline;
    font-size: 1.55em;
    background: orange;
    color: #fff;
    padding: 2.5px 5px;
    cursor: pointer;
}

.foot-content .right .sub-btn:hover {
    background: orangered ;
}


.foot-content .right .input {
    display: inline;
    height: auto;
    border: 1px solid rgba(255,250,250,0.3); 
    padding: 10px 0 5px 0;
    
}

.right .input input {
    background-color: rgba(0,0,0,0.1);
    height: 26.8px;
    width: 200px;
    outline: none;
    color: rgba(255,250,250,0.7);
}



/* sau đây là code riêng của trang product */

#content .show-link {
    margin-bottom: 2.5em;
    font-size: 1.2em;
}

#content .show-link a {
    text-decoration: none;
    color: #000;
}

#content .show-link a:hover {
    text-decoration: underline;
    color: rgba(255,25,50,0.9);
}

#content .show-link > span {
    color: rgba(255,25,50,0.9);
}

#content .show-link i {
    font-size: 0.75em;
    margin: 0 3px;

}

/* .menu .sub-menu {
    background: #fff;
}   */

.menu .sub-menu a {
    /* margin: 0; */
    padding: 0.5em 1em 1em 2.5em;
    display: block;
    background:#fff;
    /* padding: 1em 10em 1em 1em; */
    text-decoration: none;
    border: none;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
}

.menu .sub-menu > a:first-child {
    color: red;
}

.sub-menu .sub-2-menu a {
    padding: 1em 1em 1em 3.5em;

}

.sub-menu .sub-2-menu a:nth-child(2) {
    color: red;
}

.sub-2-menu .sub-3-menu a  {
    padding: 1em 1em 1em 5em;

}

.sub-2-menu .sub-3-menu a:last-child {
    color:red;
}

.menu .price-menu {
    background-color: #fff;
    height: 25em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
    font-size: 11px;
}

.menu .price-menu .price-box {
    height: calc(100% / 5);
    width: 100%;
    padding: 0.5em;
}

.price-menu h2 {
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    font-weight: 500;
}

.price-menu h3 {
    font-size: 16px;
    color: rgba(0,0,0,0.75);
    font-weight: 500;
}

.price-menu .price-box input {
    margin-right: 0.3em;
    box-shadow: 0 0 1px 0 #fff;
}

.price-menu .price-box input:hover {
    box-shadow: 0 0 0 0 #000;
}

.price-menu .price-box input:active {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.sell {
    background:#fff;
    padding: 10px;
}

.sell h2 {
    color: rgba(0,0,0,0.75);
}

.sell .sell-box {
    height: 7em;
    margin-top: 2em;
    padding: 0 0 0 0;
    display:flex;
    position: relative;
}

.sell .sell-box img {
    width: 40%;
    height: 80%;
}

.sell .sell-box a {
    display:inline;
    border: none;
    padding: 0 10px;
    font-size: 12px;
    color: rgba(0,0,0,0.6);

}

.sell .sell-box a:hover {
    text-decoration: underline;
}

.sell .sell-box p {
    position: absolute;
    right: 140px;
    bottom: 10px;
    font-size: 14px;
    color:red;
}


.items {
    float: right;
    height: auto;
    width: 75%;
    width: calc(75% - 1em);
}

.items .box-item {
    height: 140em;
    display:flex;
    justify-content: space-between;
    /* padding: 3em 0; */
    /* background: #fff; */
}

.items .select {
    float: right;
    height: 5em;
}


.items .select label {
    margin-left: 2em;
    font-size: 1.5em;
}

.items .select label select {
    margin-left: 0.5em;
    border: 1px solid #ccc;
    padding: 0.4em 0.2em;
    font-size: 0.85em;
    color: rgba(0, 0, 0, 0.6);
}

.items .select label select:hover {
    border: 1px solid #ccc;
}

.items .select label select:active {
    border: 1px solid #ccc;
}

.items .box-item .box-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 31%;
    height: 100%;
}

.box-item .box-col .box-row  {
    height: 30%;
    width: 100%;
    background-color: #fff;
    padding: 1.25em;
}

.box-item .box-col .box-row .imgage{
    width: 100%;
    height: 80%;
}

.img {
    width: 100%;
    height: 100%;
}

.box-item .box-col .box-row  .add {
    float: right;
    padding: 0.5em;
    border: 1px solid #ccc;
    font-size: 1.3em;
    color: #ccc;
    cursor: pointer;
}

.box-item .box-col .box-row .add:hover {
    background: red;
    color: #fff;
}

.box-item .box-col .box-row  a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgba(0,0,0,0.55);
    display:block;
    margin: 0.3em 0;
}

.box-item .box-col .box-row  p {
    display: inline-block;
    /* margin-top: 1em; */
    color: red;
    font-size: 1.7em;
}




























